/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
body {
  background-color: #D4D4D4;
}

.page-header {
  background-color: #3E4651;
  color: white;
  margin-top: 0px;
  padding-top: 1px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
}

.headliner {
  font-family: 'Oswald', sans-serif;
  color: #00B5B5;
}

button {
  font-family: 'Oswald', sans-serif;
}

#map {
  height: 82%;
  width: 60%;
  float: left;
  margin-left: 20px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#searchbutton {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
 /* text-overflow: ellipsis;*/
  width: 80px;
  position: absolute;
  left: 447px;
  top: 100px;
  overflow: hidden;
  z-index: 10;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

#list {
  max-height: 60%;
  float: left;
  width: 38%;
  padding-left: 20px;
}

#moreinfo {
  max-height: 40%;
  width: 35%;
  font-family: 'Oswald', sans-serif; 
  padding-left: 20px;
}

.searchresultname {
  display: block;
  font-family: 'Oswald', sans-serif;
}

.infopics {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#moreinfo img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
  max-height: 75%;
}

h4 {
  text-align: center;
  color: #00B5B5;
}